{% extends 'main.html' %}

{% block content %}


<div id="layoutSidenav_content">
  <main>
      <div class="container-fluid px-4">
          -----------------------------------------------------------------------------------------------------------------------------------------------------------------
          <div class="card mb-4" >
              <div class="card-header">
                  Home
              </div>
          <div class="card-body">
  <h2>Inventory Management System</h2>
  <p> The current problem is that employees at the store are facing challenges in managing orders effectively. They are relying on manual bookkeeping and Excel worksheets, which are time-consuming and prone to errors. Additionally, there is a lack of role-based access control, resulting in security concerns and potential unauthorized access to sensitive data. Furthermore, there is a need to implement efficient ETL operations for storing collected data in a data warehouse to streamline data management.
    .</p>
</div>
</div>
</main>

{% endblock content %}