{% extends "main.html" %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            -----------------------------------------------------------------------------------------------------------------------------------------------------------------
            <div class="card mb-4" >
                <div class="card-header">
                    Message
                </div>
            <div class="card-body">
                An email has been sent with instructions to reset your password
    </div>
</div>
</main>
{% endblock content %}