

{% extends "main.html" %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            -----------------------------------------------------------------------------------------------------------------------------------------------------------------
            <div class="card mb-4" >
                <div class="card-header">
                    Message
                </div>
                <div class="alert alert-info">
                    Your password has been set.
                </div>
                <a href="{% url 'login' %}">Sign In Here</a>
</div>
</main>
{% endblock content %}